.body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('/home/aswin/Desktop/examcracker/img/on-target-with-learning-targets.png'); /* Replace 'background-image.jpg' with your image file */
    background-size: cover;
    background-position: center;
  }
  
  .login-container {
    background-color: rgba(255, 255, 255, 0.8); /* Add a slight transparency to the container */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
  
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  .signup-link {
    margin-top: 10px;
    color: #333;
    text-decoration: none;
    display: block;
  }
  .forgot-password {
    margin-top: 10px;
    color: #333;
    text-decoration: none;
    display: block;
  }
  
